In [1]:
import pandas as pd
from collections import Counter
import numpy as np

In [2]:
df1 = pd.read_csv('ids2017/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv')

In [3]:
df2 = pd.read_csv('ids2017/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv')

In [4]:
df3 = pd.read_csv('ids2017/Friday-WorkingHours-Morning.pcap_ISCX.csv')

In [5]:
df4 = pd.read_csv('ids2017/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv')

In [6]:
df5 = pd.read_csv('ids2017/Tuesday-WorkingHours.pcap_ISCX.csv')

In [7]:
df6 = pd.read_csv('ids2017/Wednesday-workingHours.pcap_ISCX.csv')

In [8]:
df7 = pd.read_csv('ids2017/Monday-WorkingHours.pcap_ISCX.csv')

In [9]:
df8 = pd.read_csv('ids2017/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv', encoding='latin1')

/home/xiaoyujie/anaconda3/envs/densegat2/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (0,1,3,6,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df8 = df8.dropna(how='all')

In [13]:
len(df8)

170366

In [15]:
label8 = df8[' Label']

In [17]:
Counter(label8)

Counter({'BENIGN': 168186,
         'Web Attack \x96 Brute Force': 1507,
         'Web Attack \x96 XSS': 652,
         'Web Attack \x96 Sql Injection': 21})

In [20]:
df8_ = df8[df8[' Label'] != 'BENIGN']

In [21]:
Counter(df8_[' Label'])

Counter({'Web Attack \x96 Brute Force': 1507,
         'Web Attack \x96 XSS': 652,
         'Web Attack \x96 Sql Injection': 21})

In [22]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8_])

In [27]:
df_not_monday = pd.concat([df1, df2, df3, df4, df5, df6])

In [29]:
df_not_monday.to_pickle('cicids2017_not_contain_monday.pkl')

In [23]:
df.to_pickle('cicids2017_all_data_not_web_attack_s_benign.pkl')

In [2]:
df = pd.read_pickle('cicids2017.pkl')

In [24]:
df.to_csv('cicids2017.csv', header=None)

In [2]:
df = pd.read_csv('cicids2017.csv', header=None)

In [24]:
len(df)

2662557

In [25]:
Counter(df.iloc[:, -1])

Counter({'BENIGN': 2104911,
         'DDoS': 128027,
         'PortScan': 158930,
         'Bot': 1966,
         'Infiltration': 36,
         'FTP-Patator': 7938,
         'SSH-Patator': 5897,
         'DoS slowloris': 5796,
         'DoS Slowhttptest': 5499,
         'DoS Hulk': 231073,
         'DoS GoldenEye': 10293,
         'Heartbleed': 11,
         'Web Attack \x96 Brute Force': 1507,
         'Web Attack \x96 XSS': 652,
         'Web Attack \x96 Sql Injection': 21})

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,0,192.168.10.5-104.16.207.165-54865-443-6,104.16.207.165,443,192.168.10.5,54865,6,7/7/2017 3:30,3,2,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,1,192.168.10.5-104.16.28.216-55054-80-6,104.16.28.216,80,192.168.10.5,55054,6,7/7/2017 3:30,109,1,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,2,192.168.10.5-104.16.28.216-55055-80-6,104.16.28.216,80,192.168.10.5,55055,6,7/7/2017 3:30,52,1,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,3,192.168.10.16-104.17.241.25-46236-443-6,104.17.241.25,443,192.168.10.16,46236,6,7/7/2017 3:30,34,1,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,4,192.168.10.5-104.19.196.102-54863-443-6,104.19.196.102,443,192.168.10.5,54863,6,7/7/2017 3:30,3,2,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

In [25]:
df7Label = df7[' Label']

In [26]:
Counter(df7Label)

Counter({'BENIGN': 529918})

In [38]:
from imblearn.under_sampling import RandomUnderSampler

In [33]:
x = df_not_monday.drop(columns=[' Label'])
y = df_not_monday[' Label']

In [35]:
Counter(y)

Counter({'BENIGN': 1574993,
         'DDoS': 128027,
         'PortScan': 158930,
         'Bot': 1966,
         'Infiltration': 36,
         'FTP-Patator': 7938,
         'SSH-Patator': 5897,
         'DoS slowloris': 5796,
         'DoS Slowhttptest': 5499,
         'DoS Hulk': 231073,
         'DoS GoldenEye': 10293,
         'Heartbleed': 11})

In [50]:
# df_max = df_not_monday[df_not_monday[' Source IP'] != '192.168.10.50']

In [51]:
Counter(df_max[' Label'])

Counter({'BENIGN': 1504129,
         'DDoS': 128024,
         'PortScan': 158930,
         'Bot': 1966,
         'Infiltration': 36,
         'FTP-Patator': 7938,
         'SSH-Patator': 5897,
         'DoS slowloris': 5796,
         'DoS Slowhttptest': 5499,
         'DoS Hulk': 231073,
         'DoS GoldenEye': 10293,
         'Heartbleed': 11})

In [52]:
df_max.to_pickle('cicids2017_not_contain_monday_max.pkl')